# Supabase 1 - Login + Survey
VITE_SUPABASE_AUTH_URL=https://cqaxrwoulcvptgsqwwob.supabase.co
VITE_SUPABASE_AUTH_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNxYXhyd291bGN2cHRnc3F3d29iIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk2NDIxNDksImV4cCI6MjA3NTIxODE0OX0.2fF00Xk5Dsx8ezYiDWXLhDkXonGQDXR3Y1udi7MrLz8

# Supabase 2 - Central Store (ACTA, Credits, Profiles)
VITE_SUPABASE_CENTRAL_URL=https://nwcaqyduvujhaawsrpxe.supabase.co
VITE_SUPABASE_CENTRAL_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im53Y2FxeWR1dnVqaGFhd3NycHhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk2NDEzMDksImV4cCI6MjA3NTIxNzMwOX0.cuNo-tQISVKut4g8w6jgbNUeTUTWtzqICXwPj3qyvnA

# Supabase 3 - Posts + Explore
VITE_SUPABASE_POSTS_URL=https://tpiiwaensbimajaouvyi.supabase.co
VITE_SUPABASE_POSTS_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRwaWl3YWVuc2JpbWFqYW91dnlpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk2NDE3MjIsImV4cCI6MjA3NTIxNzcyMn0.29JgxFDCSchWkTUVn233EZKEb-ZNzzLakO5UzunsHDk

# Supabase 4 - Games & Leaderboard
VITE_SUPABASE_GAMES_URL=https://aneoosskouaiunfjbobq.supabase.co
VITE_SUPABASE_GAMES_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuZW9vc3Nrb3VhaXVuZmpib2JxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk2NDE4OTMsImV4cCI6MjA3NTIxNzg5M30.9EtW4OUt2XVgDUgLi7r_r8zaEXft2YGo8zTpuSPA3sY

# Supabase 5 - Challenges & Hackathons
VITE_SUPABASE_CHALLENGES_URL=https://kjqyxqpqvwxictovryvl.supabase.co
VITE_SUPABASE_CHALLENGES_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtqcXl4cXBxdnd4aWN0b3ZyeXZsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk2NDIwMzgsImV4cCI6MjA3NTIxODAzOH0.HMOg25t-mPU8HHMrusV7TmLVX5kHw03RgLlDF42iFR8

# App Configuration
VITE_APP_URL=http://localhost:3000
